.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Row {
  display: flex;
  flex-direction: column;
}
.Row label {
  flex: 1;
  font-size: 14px;
  margin: 8px 0px;
  text-align: left;
}

.Row input {
  flex: 1;
  padding: 10px;
  border: 0;
  font-size: 20;
  background: rgba(0,0,0,0.2);
  color: #cfcfcf;
  font-weight: bold;
}
